.nav{
    position:fixed;
    top:0;
    padding: 2vh;
    height: 5vh;
    width: 100%;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}
.nav_black{
    background-image: linear-gradient(0deg,rgb(17,17,17,0.95),rgb(17,17,17));
}
.navbar_container{
display: flex;
justify-content:space-between
}
.Logo{
  height: 5vh;  
  padding-left: 2vw;
  cursor:pointer;
  position: fixed;
}
.avatar{
    position: fixed;
    height: 5vh;
    right: 0%;
    border-radius: 4px;
    cursor:pointer;
    padding-right: 6vw;
}
