.nav{
    position:fixed;
    top:0;
    padding: 20px;
    height: 30px;
    width: 100%;
    z-index: 1;
}
.nav_black{
    color: #111;
}
.navbar_container{
display: flex;
padding-top: 2vh;
}
.Logo{
  height: 5vh;  
  padding-left: 2vw;
  cursor:pointer;
  position: fixed;
}
.avatar{
    position: fixed;
    height: 6vh;
    right: 0%;
    border-radius: 4px;
    cursor:pointer;
    padding-right: 6vw;
}
