.row_posters{
 display: flex;
}
.row_image{
    object-fit: contain;
    width:100%;
    height: 150px;
    margin-left: 5px;
    transition: transform 300ms;
}
.row_image:hover{
 transform: scale(1.2,1.1);
 
}